@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        background-color: #fff;
    }

    .container {
        max-width: 1130px;
        width: 100%;
        margin: 0px auto;
    }
}